@import 'base/variables';

.main-panel {

}

.chips {
  display: inline-flex;
  flex-wrap: wrap;
}

.add-table {
  max-height: $add-table-height;
  overflow: auto;
}

.list-item-todo {
  font-weight: lighter !important;
}

.card-header-todo {
  font-weight: bold !important;
}

.task-striked {
  text-decoration: line-through;
}

.card-actions {
  width: $total-width;
  text-align: right;
}
