@import 'base/variables';

.sidebar {
  height: $sidebar-height;
  border-right: 1px solid $primary-color;

  .tab-header {
    >div:first-child {
      background-color: transparent !important;

      button {
        color: $primary-text-color !important;
      }
    }
  }
}
