/* Colors */
$primary-color: #eee;
$primary-text-color: #000;

/* Heights */
$total-height: 100%;
$header-height: 50px;
$add-table-height: 300px;
$sidebar-height: calc(#{$total-height} - #{$header-height});

/* Widths */
$total-width: 100%;

/* Padding */
$basic-pad: 15px;
$small-top-pad: 10px;
$medium-top-pad: $basic-pad;
$large-top-pad: 25px;

/* Margins */

